@import "bootstrap-flex";


form.edit_card {
  display: inline;
}

.bd-footer {
    padding: 4rem 0;
    margin-top: 6rem;
    font-size: 85%;
    text-align: left;
    background-color: #f7f7f7;
}
.text-muted {
    color: #818a91 !important;
}